<section data-ng-controller="HomeController">
    <div class="row">
        <div class="col-md-8">
            <h3>Bars</h3>
            <div class="list-group">
                <a data-ng-repeat="bar in bars" data-ng-href="#!/bars/{{bar._id}}" class="list-group-item">
                    <h5>{{bar.name}}</h5>
                    <p>Price: {{bar.price}}</p>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div>Twitter</div>
            <div>Instagram</div>
        </div>
    </div>
</section>
