.DS_Store
.nodemonignore
.sass-cache/
npm-debug.log
node_modules/
public/lib
app/tests/coverage/
.bower-*/
.idea/
*.swp

app/controllers/reviews.server.controller.js

app/models/reviews.server.model.js
