<section data-ng-controller="forumsPostsController" data-ng-init="findOne()">
	<div class="row">
		<div class="col-md-5">
			<h2>{{forum.name}}</h2>
			<p>{{forum.description}}</p>
        </div>
    </div>
    <div class="row">
    	<form class="add-post" name="newPost" ng-submit="post()" novalidate>
			<div class="col-md-7">
				<textarea rows="2" class="col-md-5" id="newPost.text" ng-model="newPost.text" placeholder="Enter text..." required ></textarea>
				<button type="submit" class="btn btn-default">comment</button>
			</div>
		</form>
    </div>
    <br />
    <ul class="forum-list">
    	<li class="review-list-item" data-ng-repeat="post in forum.posts">
    		<div class="row">
				<span class="col-md-2">{{post.timestamp | date:'short'}}</span>
				<p class="col-md-2">{{post.text}}</p>
			</div>
			<br />
		</li>
    </ul>
    <br />
    <br />
    <br />
</section>
    
