<section data-ng-controller="BarsController" data-ng-init="find()">
	
		<div data-ng-repeat="bar in bars">
			<div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <div class="col-md-2 barpic">
                        <a href="#!/bars/{{bar._id}}">
                            <!--<img alt="{{bar.name}}" height="90" ng-src="/uploads/{{bar._id}}/{{bar.thumb}}" width="90">-->
                            <img alt="{{bar.name}}" height="90" width="90" />
                        </a>
                    </div>
                    <div class="col-md-8">
                        <a class="h3" href="#!/bars/{{bar._id}}" >{{bar.name}}</a>
                        <div>
                            <div>
                                <!-- <rating ng-model="bar.rating" max="max" readonly="true" state-on="'beerfull'" state-off="'beerempty'"></rating> -->
                            </div>
                            <span class="">
                                {{bar.reviewcount}}
                            </span>
                        </div>
                        <div class="">

                            <span class="">{{bar.price}}</span>
                            <span ng-repeat="ty in bar.type">
                                <a href="" class="titlecaps">{{ty}}</a>    
                            </span>
                        </div>

                    </div>
                </div>
                <div class="col-md-2">
                    <address class="titlecaps">
                        <strong class="titlecaps">{{bar.neighborhood}}</strong> <br>
                        <br>
                        {{bar.street}} <br>
                        {{bar.city}}, {{bar.state}} {{bar.zip}} <br>
                        {{bar.phonenum}}
                    </address>


                </div>
                <div class="col-md-1" ng-show="admin>0">
                    <button class="btn btn-danger" ng-click="removeBar(bar.id)" >Delete</button>
                    <button class="btn btn-warning" ng-click="editBar(bar.name)" >Edit</button>
                </div>
            </div>
		</div>
	<div class="alert alert-warning text-center" data-ng-if="bars.$resolved && !bars.length">
		No bars yet, why don't you <a href="/#!/bars/create">create one</a>?
	</div>
</section>
